// Colors
$title-col: #BA6F15
$left-panel-col: #2b2828
$right-panel-col: #262323

// Sizes
$left-panel-width: 30vw

// Create simple image background
=coverImage($url, $size: cover)
    background-image: url($url)
    background-size: $size
    background-repeat: no-repeat
    background-position: center

// Create simple title style
=title($font-size: 30px)
    font-family: Lato
    font-size: $font-size
    color: $title-col

/**
  * Expressive part of Code
  */
body
    margin: 0  

    
    /**
      * Main Container
      */
    .cont 
        display: flex 


        /**
          * Right Panel
          */
        .intelli 
            display: inline-block 
            width: $left-panel-width
            height: 100vh 
            background-color: $left-panel-col
            overflow-y: scroll
            overflow-x: hidden
            &::-webkit-scrollbar-corner
                background-color: transparent 
            &::-webkit-scrollbar
                background-color: transparent 
            &::-webkit-scrollbar-thumb
                background-color: #2d2a2a
                border-radius: 20px


            .title
                text-align: center
                +title(3vw)
                margin: 10px 0
                color: #524a4a
                font-weight: 900
            .cont
                text-align: center
                display: inline-block
                .item
                    width: $left-panel-width
                    +title(20px)
                    margin-top: 5px
                    display: inline-block
                    cursor: pointer
                    color: #555
                    &.keyword 
                        font-family: Pizza 
                        font-size: 30px 
                        &.selected
                            color: #cc6bc4 
                            animation: pulse 3s infinite 
                    &.function 
                        font-family: Pizza 
                        font-size: 30px 
                        &.selected
                            color: #5DA3F2 
                            animation: pulse 3s infinite 
                    &.value.selected 
                        color: #ff851a 
                    &.name.selected
                        color: #79c534 


        /**
          * Right Panel
          */
        .jumbotron 
            height: 100vh 
            flex: 1 
            display: inline-block 
            background-color: $right-panel-col 
            background-size: 20vw 
            +coverImage('./arts/magma-logo.png', 20vw)
            margin: 0 auto

            .key-bindings 
                .title
                    text-align: center
                    margin: 0 0 10px 0
                    +title(30)
                position: absolute 
                left: calc(#{$left-panel-width} + 50px)
                bottom: 50px 
                border-radius: 10px 
                padding: 10px 
                min-width: 200px 
                background-color: #2a2a2a 
                color: #666 
                font-family: Lato 
                font-size: 20px 
                height: 200px 
                overflow-y: scroll
                &::-webkit-scrollbar 
                    background-color: transparent 
            .inspector 
                position: absolute 
                right: 50px 
                top: 50px 
                border-radius: 10px 
                padding: 10px 
                min-width: 200px 
                min-height: 100px 
                text-align: center 
                background-color: #2a2a2a 
                color: #555 
                font-family: Lato 
                font-size: 30px 
                .keyword 
                    font-family: Pizza 
                    font-size: 60px 
                    color: #cc6bc4 
                    animation: pulse 3s infinite 
                .function 
                    font-family: Pizza 
                    font-size: 60px 
                    color: #5DA3F2 
                    animation: pulse 3s infinite 
                .value 
                    color: #ff851a 
                .name 
                    color: #79c534 


@keyframes pulse 
    0%
        filter: hue-rotate(0deg) 
    50%
        filter: hue-rotate(20deg) 
    100% 
        filter: hue-rotate(0deg) 


@font-face 
    font-family: Lato 
    src: url('arts/lato.ttf') 

@font-face 
    font-family: Pizza 
    src: url('./arts/panpizza.ttf') 

@font-face
    font-family: Baloo 
    src: url('./arts/baloo.ttf') 
