/**
 * * Expressive part of Code
 * */
body {
  margin: 0;
  /**
  * * Main Container
  * */
}
body .cont {
  display: flex;
  /**
  * * Right Panel
  * */
  /**
  * * Right Panel
  * */
}
body .cont .intelli {
  display: inline-block;
  width: 30vw;
  height: 100vh;
  background-color: #2b2828;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .cont .intelli::-webkit-scrollbar-corner {
  background-color: transparent;
}
body .cont .intelli::-webkit-scrollbar {
  background-color: transparent;
}
body .cont .intelli::-webkit-scrollbar-thumb {
  background-color: #2d2a2a;
  border-radius: 20px;
}
body .cont .intelli .title {
  text-align: center;
  font-family: Lato;
  font-size: 3vw;
  color: #BA6F15;
  margin: 10px 0;
  color: #524a4a;
  font-weight: 900;
}
body .cont .intelli .cont {
  text-align: center;
  display: inline-block;
}
body .cont .intelli .cont .item {
  width: 30vw;
  font-family: Lato;
  font-size: 20px;
  color: #BA6F15;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  color: #555;
}
body .cont .intelli .cont .item.keyword {
  font-family: Pizza;
  font-size: 30px;
}
body .cont .intelli .cont .item.keyword.selected {
  color: #cc6bc4;
  animation: pulse 3s infinite;
}
body .cont .intelli .cont .item.function {
  font-family: Pizza;
  font-size: 30px;
}
body .cont .intelli .cont .item.function.selected {
  color: #5DA3F2;
  animation: pulse 3s infinite;
}
body .cont .intelli .cont .item.value.selected {
  color: #ff851a;
}
body .cont .intelli .cont .item.name.selected {
  color: #79c534;
}
body .cont .jumbotron {
  height: 100vh;
  flex: 1;
  display: inline-block;
  background-color: #262323;
  background-size: 20vw;
  background-image: url("./arts/magma-logo.png");
  background-size: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
body .cont .jumbotron .key-bindings {
  position: absolute;
  left: calc(30vw + 50px);
  bottom: 50px;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
  background-color: #2a2a2a;
  color: #666;
  font-family: Lato;
  font-size: 20px;
  height: 200px;
  overflow-y: scroll;
}
body .cont .jumbotron .key-bindings .title {
  text-align: center;
  margin: 0 0 10px 0;
  font-family: Lato;
  font-size: 30;
  color: #BA6F15;
}
body .cont .jumbotron .key-bindings::-webkit-scrollbar {
  background-color: transparent;
}
body .cont .jumbotron .inspector {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
  min-height: 100px;
  text-align: center;
  background-color: #2a2a2a;
  color: #555;
  font-family: Lato;
  font-size: 30px;
}
body .cont .jumbotron .inspector .keyword {
  font-family: Pizza;
  font-size: 60px;
  color: #cc6bc4;
  animation: pulse 3s infinite;
}
body .cont .jumbotron .inspector .function {
  font-family: Pizza;
  font-size: 60px;
  color: #5DA3F2;
  animation: pulse 3s infinite;
}
body .cont .jumbotron .inspector .value {
  color: #ff851a;
}
body .cont .jumbotron .inspector .name {
  color: #79c534;
}

@keyframes pulse {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(20deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@font-face {
  font-family: Lato;
  src: url("arts/lato.ttf");
}
@font-face {
  font-family: Pizza;
  src: url("./arts/panpizza.ttf");
}
@font-face {
  font-family: Baloo;
  src: url("./arts/baloo.ttf");
}

/*# sourceMappingURL=main.css.map */
